@import "./styles/base.scss";

page {
    background: #f4edd6;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

.custom-navbar {
    background: transparent !important;
}
